@media all and (min-width: 20px) {
    .Home {
        padding: 0px 0;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        border-radius: 5px;
    }

}

@media (max-width:772px) {
    .right {
        display: none;
    }

    .left {
        margin-top: 300px;
    }

    .space {
        display: none !important;
    }

    .socialBtns {
        margin-top: 0%;
    }
}

@media (max-width:992px) {
    .space {
        display: none !important;
    }
}

@media only screen and (min-width: 768px) {
    .socilBtns {}
}


.socialBtns {
    display: flex;
    align-self: center;
}